<nav-root></nav-root>

<div class="container bg-transparent">

  <div class="container">
    <h1>Live-Demo</h1>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/signup" routerLinkActive="active" [class.disabled]="auth.isAuthenticated() ? true : null">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/login" routerLinkActive="active" [class.disabled]="auth.isAuthenticated() ? true : null">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" [class.disabled]="!auth.isAuthenticated() ? true : null">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/logout" routerLinkActive="active" [class.disabled]="!auth.isAuthenticated() ? true : null">Logout</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <hr>
      <router-outlet></router-outlet>
      <hr>
    </div>
  </div>
</div>
