<!--<div class="auth-wrapper">-->
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>

    <bat-card bodyClasses="text-center">
      <div class="mb-4">
        <i class="icon icon-user-plus auth-icon"></i>
      </div>
      <h3 class="mb-4">Signup</h3>

      <div class="text-left">
        <txs-user-signup successUrl="/demo/user/login"></txs-user-signup>
      </div>

<!--
      <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html">Reset</a></p>
-->
      <p class="mb-0 text-muted">Already have an account? <a routerLink="/demo/user/login"> Log in</a></p>
    </bat-card>
  </div>
<!--</div>-->
